{% extends "base.html.twig" %}

{% block title %}Login{% endblock %}

{% block template %}login{% endblock %}

{% block body %} 

   <section>

    <form action="" method="POST">

        <!-- form title -->
        <div class="title">
            <span class=""> Identification </span>
        </div>

        <!-- global error -->
        <div class="global">
            <span class="error"> {{ error.form }} </span>
        </div>

        <!-- email -->
        <div class="email">
            <span class="error"> {{ error.input.email }} </span>
            <input type="text" name="email" placeholder="   Email"/ value="{{ post.email }}">
        </div>

        <!-- password -->
        <div class="password">
            <span class="error"> {{ error.input.password }} </span>
            <input type="password" name="password" placeholder="   Mot de passe"/>
            <a href="/user/password/forgot?email={{ post.email }}" class="password-forgot"> Mot de passe oublié ? </a>
        </div>

        <!-- submit -->
        <div class="submit">
            <input type="submit" name="submit" value="CONNEXION"/>
        </div>

    </form>

   </section>

{% endblock %}