{% extends '/models/backOffice.html.twig' %}

{% block title %} Management {% endblock %}

{% block module %}user-manage{% endblock %}

{% block content %}

    <!-- Users -->
    <div class="list">
        <!-- search -->
        <form name="search-form">
            <input type="text" name="search" placeholder="  Rechercher ..."/>
        </form>
        <!-- user list -->
        <div class="users-list">
           
            {% for user in users %}
                <!-- user -->
                <div class="user" id="user-{{ user.id }}"  v-on:click="getUser( {{ user.id }} ), id = {{ user.id }}">
                    <!-- picture -->
                    <div class="pic"> <img src="" /> </div>
                    <!-- data -->
                    <div class="data"> 
                        <div > {{ user.lastname }} </div>
                        <div> {{ user.firstname }} </div>
                        <div> {{ user.email }} </div>
                    </div>
                </div>
            {% endfor %}
            
        </div>
    </div>

    <!-- Update -->
    <div class="update">
    <h1> ${id} </h1>
    </div>

{% endblock %}