{% extends "base.html.twig" %}

{% block title %}Password forgot{% endblock %}

{% block template %}paswwordForgot{% endblock %}

{% block body %} 

   <section>

        <form action="" method="POST">

            <div class="title">
                <span> Mise à jour </span>
            </div>

            <!-- Sucess message -->
            <div class="global-2">
                <span class="success"> {{ success.form }} </span>
            </div>

            <div class="password">
                <span class="error"> {{ error.input.password }} </span>
                <input type="password" name="password" placeholder="   Nouveau mot de passe" value="{{ post.password }}" />
            </div>

            <div class="password-update">
                <span class="error"> {{ error.input.passwordUpdate }} </span>
                <input type="password" name="passwordUpdate" placeholder="   Reprener votre mot de passe" value="{{ post.passwordUpdate }}" />
            </div>

             <!-- submit -->
            <div class="submit">
                <input type="submit" name="submit" value="VALIDER"/>
            </div> 

        </form>

   </section>

{% endblock %}