{% extends "base.html.twig" %}

{% block title %}Password forgot{% endblock %}

{% block template %}paswwordForgot{% endblock %}

{% block body %} 

   <section>

        <form action="" method="POST">

            <div class="title">
                <span> Récupération de compte </span>
            </div>

            <!-- Sucess message -->
            <div class="global-2">
                <span class="success"> {{ success.form }} </span>
            </div>

            {% if post.email %}
             <!-- email -->
            <div class="email">
                <span class="error"> {{ error.input.email }} </span>
                <input type="text" name="email" placeholder="   Adresse email" value="{{ post.email }}">
            </div>
            {% else %}
            <!-- email -->
            <div class="email">
                <span class="error"> {{ error.input.email }} </span>
                <input type="text" name="email" placeholder="   Adresse email" value="{{ get.email }}">
            </div>
            {% endif %}

             <!-- submit -->
            <div class="submit">
                <input type="submit" name="tokenGen" value="VALIDER"/>
            </div> 

        </form>

   </section>

{% endblock %}