{% extends "base.html.twig" %}

{% block title %}Password forgot{% endblock %}

{% block template %}login{% endblock %}

{% block body %} 

   <section>

        <form action="" method="POST">

            <!-- Sucess message -->
            <div class="global-2">
                <span class="success"> {{ error.success }} </span>
            </div>

            <!-- email -->
            <div class="email">
                <span class="error"> {{ error.input.email }} </span>
                <input type="text" name="email" placeholder="   Email"/ value="{{ post.email }}">
            </div>

            {# Si l'adresse mail à été validé  #}
            {% if error.success %}

                <!-- New password -->
                <div class="password">
                    <span class="error"> {{ error.input.email }} </span>
                    <input type="password" name="password" placeholder="   Mot de passe"/>
                </div>

                <!-- New password -->
                <div class="password-repeat">
                    <span class="error"> {{ error.input.email }} </span>
                    <input type="password" name="passwordRepeat" placeholder="   Repeter le mot de passe"/>
                </div>

            {% endif %}

            <!-- submit -->
            <div class="submit">
                <input type="submit" name="submit" value="CONNEXION"/>
            </div>

        </form>

   </section>

{% endblock %}